<div class="animated fadeIn">
    <div class="brand-card">
        <div class="brand-card-header">
            <h4>Manage your card decks</h4>
        </div><!--/.brand-card-header-->
        <div class="brand-card-body">
            <div>
                <button class="btn btn-primary" [routerLink]="['white']">White Cards</button>
            </div>
            <div>
                <button class="btn btn-primary" [routerLink]="['black']">Black Cards</button>
            </div>
        </div><!--/.brand-card-body-->
    </div><!--/.brand-card-->
</div>