<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <h4>Black Card</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <app-black-card class="mx-auto" [parentName]="'game'"></app-black-card>
          </div><!--/.row-->
        </div><!--/.card-body-->
      </div><!--/.card-->
    </div><!--/.col-->
    <div class="col-lg-5">
      <app-player-table></app-player-table>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row"  *ngIf="showPlayedCards">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h4>Played Cards</h4>
            <button *ngIf="canSelect" (click)="winnerCard()" class="ml-auto">Select Winner Card</button>
          </div><!--/.row-->
        </div><!--/.card-header-->
        <div class="card-body">
            <div class="card-deck">
              <div class="col-sm5" *ngFor="let playedCard of playedCards">
                <app-white-card [card]="playedCard.card" [parentName]="'playedCard'" [canSelect]="canSelect"></app-white-card>
              </div>
            </div><!--/.card-deck-->
        </div><!--/.card-body-->
      </div><!--/.card-->
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row" *ngIf="!showPlayedCards">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h4>White Card Deck</h4>
            <button (click)="submitCard()" [disabled]="disabled" class="ml-auto">Submit</button>
          </div><!--/.row-->
        </div><!--/.card-header-->
        <div class="card-body">
            <div class="card-deck">
              <div class="col-sm5" *ngFor="let card of whiteCards">
                <app-white-card [card]="card" [parentName]="'game'" [canSelect]="canSelect"></app-white-card>
              </div>
            </div><!--/.card-deck-->
        </div><!--/.card-body-->
      </div><!--/.card-->
    </div><!--/.col-->
  </div><!--/.row-->
</div>
