<div class="animated fadeIn">
    <div class="card">
        <div class="card-header text-center">
            <h4>Here you can view all available white cards and create deck presets!</h4>
        </div><!--/.card-header-->
        <div class="card-body">
            <div class="row">
                <div class="card-text">
                    <span>Here will be an instruction on how to do that!</span>
                </div><!--/.card-text-->
                <div class="btn-group ml-auto" dropdown>
                    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                        role="menu" aria-labelledby="button-animated">
                        <li role="menuitem"><a class="dropdown-item text-center" (click)="addCard()">Add Card</a></li>
                        <li role="menuitem"><a class="dropdown-item text-center" (click)="getCards()">Get Cards</a></li>
                        <li role="menuitem"><a class="dropdown-item text-center" (click)="saveDeck()">Save Deck</a></li>
                        <li role="menuitem"><a class="dropdown-item text-center" (click)="getDecks()">Get Decks</a></li>
                    </ul>
                </div>
            </div><!--/.row-->
        </div><!--/card-body-->
    </div><!--/.card-->
    <div class="card-deck">
        <div class="col-sm5" *ngFor="let card of whiteCards">
            <app-white-card [card]="card" [parentName]="'whiteCardsDeck'"></app-white-card>
        </div>
    </div><!--/.card-deck-->
    <ng-template #noCards>
        <div class="card">
            <div class="card-body">
                <div class="card-title text-center">
                    <h4>There are currently no white cards!</h4>
                </div><!--/.card-title-->
            </div><!--/.card-body-->
        </div><!--/.card-->
    </ng-template>
</div>