<div class="card" (click)="selectCard()" [ngClass]="select ? 'selected' : ''">
    <div class="card-header" [ngClass]="select ? 'selected' : ''">
        <div class="row">
            <h5>White Card</h5>
            <span class="ml-auto">{{ card.id }}</span>
        </div><!--/.row-->
    </div><!--/.card-header-->
    <div class="card-body">
        {{ card.content }}
    </div><!--/.card-body-->
    <div class="card-footer" [ngClass]="select ? 'selected' : ''">
        <div class="row">
            <img src="assets/img/brand/CAH_light.png" width="158" height="34">
        </div><!--/.row-->
    </div><!--/.card-footer-->
</div><!--/.card-->