<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Legal Notice</h4>
        </div>
        <!--/.card-header-->
        <div class="card-body">
            <div class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora veritatis amet distinctio, similique
                deleniti ipsam iusto magnam ea voluptatibus soluta accusantium tenetur nulla, natus minus eveniet ratione
                earum provident? Laboriosam.
            </div>
        </div>
        <!--/.card-body-->
    </div>
    <!--/.card-->
</div>