<div class="animated fadeIn">
    <div class="card">
        <div class="card-header text-center">
            <h4>Here you can view all available black cards and create deck presets!</h4>
        </div><!--/.card-header-->
        <div class="card-body text-center">
            <span>Here will be an instruction on how to do that!</span>
            <button (click)="addCard()">Add Card</button>
        </div><!--/card-body-->
    </div><!--/.card-->
    <div class="card-deck">
        <div class="col-sm5" *ngFor="let card of blackCards">
            <app-black-card [card]="card" [parentName]="'blackCardsDeck'"></app-black-card>
        </div>
    </div><!--/.card-deck-->
</div>