<app-header
  [navbarBrandRouterLink]="['/game']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/CAH_light.png', width: 150, height: 32, alt: 'CAH Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.png', width: 30, height: 30, alt: 'CAH Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false"
  >
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item px-3" *ngIf="isAuthenticated">
      <div>
        <span>Current User: </span>
        <span class="text-danger"> {{ username }} </span>
      </div>
    </li>
    <li class="nav-item px-3" *ngIf="isAuthenticated">
      <a class="nav-link" href="javascript:void(0)" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span>Cards Against Humanity &copy; 2020 Björn Biester</span>
  <div class="flex-fill"></div>
  <a class="nav-link" [routerLink]="['/legal-notice']">Legal Notice</a>
  <a class="nav-link" [routerLink]="['/privacy-policy']">Privacy Policy</a>
  <span>Powered by</span>
  <a class="nav-link pl-1" target="_blank" rel="noreferrer" href="https://angular.io">Angular</a>
  
</app-footer>
